.Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    color: #fff;
    font-weight: bold;
    font-size: 85px;
    animation: flip 2s;
}

@keyframes flip {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

.ContainerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.ContainerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.ContainerInput input::placeholder {
    color: #F1F1F1
}

.Botao {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: transform 0.5;
}

.Botao:hover {
    transform: scale(1.2)
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    color:rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 39px;
}

.main span {
    color:rgb(182, 182, 182);
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 80%;
        min-height: 250px;
    }
}

.ContainerInfos {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.BotaoLimpar {
    font-size:20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 5px;
    border: 2px solid #121212;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    animation: transform 0.5;
}

.BotaoLimpar:hover {
    transform: scale(1.05)
}